* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

/* Inicia o Header */
header {
    font-family: 'Roboto';
}
.nav-top {
    width: 100%;
    height: 35px;
    background-color: #5d5650;
    display: flex;
    justify-content: space-between;
}

.nav-top a {
    color: white;
}

.right-side {
    display: flex;
    float: right;
    margin-left: 10px;
}

.right-side a {
    cursor: pointer;
    margin-top: 7px;
}

.right-side img {
    align-items: center;
    margin: 9px;
}

.nav-top img {
    width: 18px;
    height: 18px;
}

.left-side  {
    display: inline;
    float: left;
    margin-right: 10px;
}

.left-side img {
    width: 20px;
    margin: 9px;
}

.nav {
    width: 100%;
    height: 100px;
    position: relative;
    line-height: 65px;
    text-align: center;
    margin-right: 20px;
}

.nav div.main_list {
    height: 65px;
    float: right;
    margin-right: 70px;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 17px;
    padding: 0;
    padding-right: 4rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #858585;
    line-height: 25px;
    font-size: 25px;
}

.nav div.main_list ul li .destaque {
    color: #b2b74a;
}

.navlinks button {
    color: white;
    line-height: 25px;
    font-size: 25px;
    background-color: #B2B74A;
    width: 145px;
    height: 55px;
    border: none;
}


.nav div.main_list ul li a:hover {
    color: #B2B74A;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Finaliza o Header */

/* Inicia o Banner */

.banner img {
    width: 100%;
    height: 550px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
}

/* Finaliza o Banner */


/* Inicia o Main */

main {
    margin-top: 40px;
}

.h1 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 75px;
}

.content-box {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-inline: 300px;
    margin-top: 80px;
}

.images img {
    width: 200px;
    height: 180px;
    justify-content: space-between;
    background-color: #B2B74A;
    border-radius: 50px;
}

.content-box p {
    font-size: 25px;
    margin-top: 5px;
}

.content-box button {
    position: relative;
    color: white;
    font-size: 20px;
    background-color: #5d5650;
    width: 210px;
    height: 60px;
    border-color: white;
    border: 2px 2px 2px 2px;
    margin-top: 40px;
}

/* Começa o Footer */

footer {
    background-color: #5d5650;
    width: 100%;
    height: 560px;
    margin-top: 150px;
}

.end {
    font-size: 20px;
    float: right;
    background-color: #5d5650;
    color: white;
    padding: 70px;
}

.end img {
    width: 25px;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: -5px;
    position: relative;
    
}

.end a {
    margin-bottom: 20px;
    color: white;
}

.e-mail2 {
    margin-top: 20px;
    
}

.fone2 {
    margin-top: 20px;
}

.texto {
    float: left;
    margin-left: 60px;
    margin-top: 60px;
    color: white;
    font-size: 20px;
    height: 300px;
    width: 220px;
}

.credits {
    width: 100%;
    height: 1px;
    float: right;
    margin-top: 60px;
}

.credits p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 50px;
    color: #d1d1d1;
}

.credits hr {
    height: 1px;
    background: #d1d1d1;
    border: none;
  }
  

/* Finaliza o Footer */